.wasabi-tree-parent {
    position: relative;
    font-size: var(--font-size);
    color: var(--color);
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: auto;
    height: 100%;
}

.wasabi-tree {
    position: relative;
    margin: 0px;
    padding: 0px;
    --dotted-color: var(--border-color);
}

/* 虚线隐藏 */
.wasabi-treegrid.nodotted {
    --dotted-color: transparent;
}

/* 树表格与交叉表把父子关系的虚线隐藏 */
.wasabi-treegrid .wasabi-tree {
    --dotted-color: transparent;
}

.wasabi-pivot .wasabi-tree {
    --dotted-color: transparent;
}

/*树中图标的颜色*/
.wasabi-tree [class*=" icon-"],
.wasabi-tree [class^="icon-"] {
    color: var(--icon-color);
}

/*树节点*/
.wasabi-tree li.wasabi-tree-li-container {
    list-style: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.wasabi-tree li.wasabi-tree-li-container[disabled] > div {
    opacity: 0.6;
    pointer-events: none;
}

/*树的折叠图标， 因为checkbox宽度是20px 字体小一点*/
.wasabi-tree .wasabi-tree-li-icon {
    font-size: inherit;
    width: 20px;
    height: 100%;
    position: relative;
    padding-top: 9px;
}

/* 树表格与交叉表*/
.wasabi-treegrid .wasabi-tree .wasabi-tree-li-icon {
    border-bottom: 1px solid var(--border-color);
    height: 41px;
    padding-top: 14px;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-icon {
    border-bottom: 1px solid var(--border-color);
    height: 41px;
    padding-top: 14px;
}

.wasabi-tree-reduce {
    position: relative;
}
.wasabi-tree-reduce::after {
    content: "";
    border-top: 1px dotted var(--dotted-color);
    position: absolute;
}

/* 树的折叠图标右边的虚线 */
.wasabi-tree .wasabi-tree-li-icon-beforeRight::after {
    content: "";
    position: absolute;
    border-bottom: 1px dotted var(--dotted-color);
    height: 1px;
    right: 0px;
    top: 16px;
    width: 10px;
}

/*树节点向下的虚线*/
.wasabi-tree .wasabi-tree-li-icon-afterBelow {
    position: absolute;
    height: 40px;
    border-left: 1px dotted var(--dotted-color);
    left: 7px;
    top: 12px;
}

/* 树表格与交叉表的底部分隔线,增加宽度是为了线足够长 */
.wasabi-treegrid .wasabi-tree .wasabi-tree-li-icon::after {
    content: "";
    position: absolute;
    border-left: none;
    border-bottom: 1px solid var(--border-color);
    width: 10000px;
    left: -1000px;
    height: 41px;
    top: 0px;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-icon::after {
    content: "";
    position: absolute;
    border-left: none;
    border-bottom: 1px solid var(--border-color);
    width: 10000px;
    left: -1000px;
    height: 41px;
    top: 0px;
}

/* 没有折叠图标的图标占位符 */
.wasabi-tree .wasabi-tree-li-icon-placeholder {
    width: 20px;
    height: 100%;
    position: relative;
}

/* 树表格与交叉表底部的分隔线 */
.wasabi-treegrid .wasabi-tree .wasabi-tree-li-icon-placeholder {
    height: 41px;
    border-bottom: 1px solid var(--border-color);
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-icon-placeholder {
    height: 41px;
    border-bottom: 1px solid var(--border-color);
}

/* 树表格与交叉表底部的分隔线 增加宽度是为了线足够长 */
.wasabi-treegrid .wasabi-tree .wasabi-tree-li-icon-placeholder::before {
    content: "";
    border-left: none;
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    left: -100000px;
    height: 41px;
    top: 0px;
    width: 100000px;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-icon-placeholder::before {
    content: "";
    border-left: none;
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    left: -100000px;
    height: 41px;
    top: 0px;
    width: 100000px;
}

/*树的勾选框*/
.wasabi-tree .wasabi-form-group {
    margin: 0px;
    padding-top: 2px;
    height: 30px;
    margin-bottom: 0px;
    width: 20px;
}

/* 树表格与交叉表的高度*/
.wasabi-treegrid .wasabi-tree .wasabi-form-group {
    height: 41px;
    border-bottom: 1px solid var(--border-color);
    padding-top: 4px;
    margin-top: 0px;
}

.wasabi-pivot .wasabi-tree .wasabi-form-group {
    height: 41px;
    border-bottom: 1px solid var(--border-color);
    padding-top: 4px;
    margin-top: 0px;
}

/*有子节点勾选框有向下的虚线 */
.wasabi-tree .wasabi-form-group.hasChildren:after {
    content: "";
    position: absolute;
    border-left: 1px dotted var(--dotted-color);
    height: 14px;
    left: 7px;
    top: 25px;
}

.wasabi-tree .wasabi-checkul {
    padding-top: 8px;
}

.wasabi-tree .wasabi-checkul li {
    margin-right: 0px;
}

.wasabi-tree .wasabi-checkul .checktext {
    margin: 0px;
}

/*树的节点容器*/
.wasabi-tree .wasabi-tree-li-node {
    line-height: 30px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    padding-top: 3px;
}
/**文本的框的宽度**/
.wasabi-tree .wasabi-tree-li-node .wasabi-form-group {
    width: 100%;
}
/* 树表格与交叉表底部的高度 */
.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node {
    height: 41px;
    line-height: 41px;
    border-bottom: 1px solid var(--border-color);
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node {
    height: 41px;
    line-height: 41px;
    border-bottom: 1px solid var(--border-color);
}

.wasabi-tree .wasabi-tree-li-node:hover {
    color: var(--primary-hover-color);
}
.wasabi-tree .wasabi-tree-li-node.selected:hover {
    color: var(--primary-hover-color);
}
.wasabi-tree .wasabi-tree-li-node.selected {
    color: var(--primary-color);
}
.wasabi-tree .wasabi-tree-li-node.selected a,
.wasabi-tree .wasabi-tree-li-node.selected i,
.wasabi-tree .wasabi-tree-li-node:hover a,
.wasabi-tree .wasabi-tree-li-node:hover i {
    color: inherit;
}

/*文本框容器*/
.wasabi-tree-li-node-text-div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    word-break: break-all;
    display: flex;
}

/*文本图标*/
.wasabi-tree .wasabi-tree-text-icon {
    font-size: inherit;
    height: 100%;
    padding-top: 8px;
    padding-right: 4px;
    display: inline-block;
}

/* 树表格与交叉表高度对齐 */
.wasabi-treegrid .wasabi-tree .wasabi-tree-text-icon {
    padding-top: 12px;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-text-icon {
    padding-top: 12px;
}

/*没有勾选功能时并且有子节点时 图标本身有向下虚线*/
.wasabi-tree .wasabi-tree-text-icon .noCheckhasChildren {
    content: "";
    position: absolute;
    border-left: 1px dotted var(--dotted-color);
    height: 30px;
    bottom: 0;
    left: 7px;
    top: 20px;
}

/*文本*/
.wasabi-tree .wasabi-tree-txt {
    position: relative;
    color: inherit;
    word-break: break-all;
}

/*子节点容器要跟外层折叠图标对齐*/
.wasabi-tree .wasabi-tree-sub {
    position: relative;
    width: 100%;
    padding: 0px;
    padding-left: 20px;
}

/**子节点容器的向左虚线与折叠图标对齐**/
.wasabi-tree .wasabi-tree-sub::before {
    content: "";
    position: absolute;
    border-left: 1px dotted var(--dotted-color);
    height: 100%;
    left: 7px;
}

/* 编辑时 */
.wasabi-tree .wasabi-input {
    height: 30px;
}

/* 树表格与交叉表高度对齐 */
.wasabi-treegrid .wasabi-tree .wasabi-input {
    height: 41px;
}

.wasabi-pivot .wasabi-tree .wasabi-input {
    height: 41px;
}

/* 编辑，重命名等图标 */
.wasabi-tree .edit {
    font-size: inherit;
    transform: translateY(8px);
    margin-left: 4px;
    margin-top: 1px;
}

/****单选按钮***/
.wasabi-tree .wasabi-radio-btn {
    margin-top: 0px;
}
/***复选按钮***/
.wasabi-tree .wasabi-checkul .checkbox-label {
    margin-top: 0px;
}
