.wasabi-tree {
    position: relative;
    font-size: 14px;
    color: var(--color);
    margin: 0px;
    padding: 0px;
    --border-color:red;
}

.wasabi-tree .wasabi-tree-li-node-text {
    display: flex;
    position: relative;
    flex: 1;
}

.wasabi-tree .wasabi-form-group {
    margin-top: -2px;
    margin-right: 0px;
}

.wasabi-tree li.wasabi-tree-li {
    list-style: none;
    cursor: pointer;
    position: relative;
}
/**外竖线**/
.wasabi-tree>li.wasabi-tree-li::before {
    content: "";
    height: calc(100% - 10px);
    width: 1px;
    border-right-width: 1px;
    box-sizing: border-box;
    border-right-style: dashed;
    border-right-color: var(--border-color);
    position: absolute;
    left: 5px;
    top: 24px;
    z-index: 1;
}


.wasabi-tree>li.wasabi-tree-li:last-child:before {
    height: calc(100% - 44px);
}

.wasabi-treegrid .wasabi-tree>li.wasabi-tree-li::before {
    content: none;
}

.wasabi-pivot .wasabi-tree>li.wasabi-tree-li::before {
    content: none;
}



.wasabi-tree .wasabi-tree-li-node {
    line-height: 41px;
    height: 41px;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.wasabi-tree .wasabi-tree-li-node::before {
    content: "";
    width: 18px;
    height: 1px;
    border-top: 1px dashed var(--border-color);
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node::before {
    content: none;
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node::before {
    content: none;
}


/*
*这个连线设置有bug
*/

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    width: 300%;
    bottom: 0px;
    left: -200%;
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    width: 300%;
    bottom: 0px;
    left: -200%;
}

.wasabi-tree .wasabi-tree-li-node:hover {
    background-color: var(--background-color);
}

.wasabi-tree .wasabi-tree-li-node:hover a,
.wasabi-tree .wasabi-tree-li-node:hover i {
    color: var(--primary-color);
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node:hover {
    background-color: transparent;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node:hover {
    background-color: transparent;
}

.wasabi-tree .wasabi-tree-li-node.selected {
    background-color: var(--background-color);
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node.selected:hover {
    background-color: var(--background-color);
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node.selected:hover {
    background-color: var(--background-color);
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node.selected:hover a {
    color: var(--color);
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node.selected:hover a {
    color: var(--color);
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-li-node.selected:hover i {
    color: var(--icon-color);
}

.wasabi-pivot .wasabi-tree .wasabi-tree-li-node.selected:hover i {
    color: var(--icon-color);
}

.wasabi-tree-li-node-text-div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    word-break: break-all;
    display: flex;
}

.wasabi-tree .wasabi-tree-sub {
    padding-left: 40px;
    position: relative;
}

/*竖线**/
.wasabi-tree .wasabi-tree-sub::before {
    content: "";
    height: calc(100% - 10px);
    width: 1px;
    border-right-width: 1px;
    box-sizing: border-box;
    border-right-style: dashed;
    border-right-color: var(--border-color);
    position: absolute;
    left: 24px;
    top: -10px;
    z-index: 1;
}

.wasabi-treegrid .wasabi-tree .wasabi-tree-sub::before {
    content: none;
}

.wasabi-pivot .wasabi-tree .wasabi-tree-sub::before {
    content: none;
}

.wasabi-tree [class*=" icon-"],
.wasabi-tree [class^=icon-] {
    color: var(--icon-color);
}

.wasabi-tree .wasabi-tree-txt {
    margin-left: 3px;
    position: relative;
    color: var(--color);
    word-break: break-all;
}

.wasabi-tree .wasabi-tree-li-icon {
    font-size: 12px;
    transform: translateY(14px);
    margin-right: 4px;
}

.wasabi-tree .wasabi-tree-text-icon {
    font-size: 16px;
    height: 16px;
    margin-top: 12px;
}

.wasabi-tree .wasabi-drag-box {
    cursor: pointer;
}

.wasabi-tree .wasabi-input {
    height: 30px;
    margin-top: 8px;
}