.wasabi-tree {
  position: relative;
  font-size: 14px;
  color: var(--color);
}

.wasabi-pivot .wasabi-tree {
  border-top: 1px solid var(--border-color);
}

.wasabi-treegrid .wasabi-tree {
  border-top: 1px solid var(--border-color);
}

.wasabi-tree .treenode-container {
  line-height: 41px;
  height: 41px;
  box-sizing: border-box;
  display: flex;
}

.wasabi-pivot .wasabi-tree .treenode-container {
  border-bottom: 1px solid var(--border-color);
}

.wasabi-treegrid .wasabi-tree .treenode-container {
  border-bottom: 1px solid var(--border-color);
}

.wasabi-tree .treenode {
  display: flex;
  position: relative;
  flex: 1;
}

.wasabi-tree .wasabi-form-group {
  margin: 0px;
}

.wasabi-tree li {
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
}

.wasabi-tree li>div:hover {
  background-color: var(--background-color);
}

.wasabi-tree li>div:hover a,
.wasabi-tree li>div:hover i {
  color: var(--primary-color);
}

.wasabi-tree li>div.selected {
  background-color: var(--background-color);
}

.wasabi-tree li>div.selected a,
.wasabi-tree li>div.selected i {
  color: var(--primary-color);
}

.wasabi-tree [class*=" icon-"],
.wasabi-tree [class^=icon-] {
  color: var(--icon-color);
}

.wasabi-tree a {
  position: relative;
  color: var(--color);
  display: inline-block;
}

.wasabi-tree .wasabi-tree-txt {
  margin-left: 3px;
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
}

.wasabi-tree i {
  margin-right: 3px;
  font-size: 18px;
  display: inline-block;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

.wasabi-tree li ul.hide {
  display: none;
  margin-left: 25px;
}

.wasabi-tree li ul.show {
  display: block;
  margin-left: 25px;
}

.wasabi-tree .wasabi-drag-box {
  cursor: pointer;
}

.wasabi-tree .wasabi-input {
  height: 30px;
  margin-top: 8px;
}