@charset "utf-8";

.container{
    background-color:#1c77ac;
    overflow:hidden;
    width: 100%;
    height: 100%;
}
#mainBody {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.cloud {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(./image/cloud.png) no-repeat;
    z-index: 1;
    opacity: 0.5;
}

#cloud2 {
    z-index: 2;
}


/*login*/
.logintop {
    height: 47px;
    position: absolute;
    top: 0;
    background: url(./image/loginbg1.png) repeat-x;
    z-index: 100;
    width: 100%;
}

    .logintop span {
        color: #fff;
        line-height: 47px;
        background: url(./image/loginsj.png) no-repeat 21px 18px;
        text-indent: 44px;
        color: #afc5d2;
        float: left;
    }

    .logintop ul {
        float: right;
        padding-right: 30px;
    }

        .logintop ul li {
            float: left;
            margin-left: 20px;
            line-height: 47px;
        }

            .logintop ul li a {
                color: #afc5d2;
            }

                .logintop ul li a:hover {
                    color: #fff;
                }

.loginbody {
    background: url(./image/loginbg3.png) no-repeat center center;
    width: 100%;
    height: 585px;
    overflow: hidden;
    position: absolute;
    top: 47px;
}

.systemlogo {
    background: url(./image/loginlogo.png) no-repeat center;
    width: 100%;
    height: 71px;
    margin-top: 75px;
    display: block;
}

.loginbox {
    width: 692px;
    height: 336px;
    background: url(./image/logininfo.png) no-repeat;
    margin-top: 30px;
    position: absolute;
    left:calc(50% - 346px);
}

    .loginbox ul {
        margin-top: 88px;
        margin-left: 285px;
    }

        .loginbox ul li {
            margin-bottom: 25px;
            list-style: none;
        }

            .loginbox ul li label {
                color: #687f92;
                padding-left: 25px;
            }

                .loginbox ul li label a {
                    color: #687f92;
                }

                    .loginbox ul li label a:hover {
                        color: #3d96c9;
                    }

                .loginbox ul li label input {
                    margin-right: 5px;
                }

.loginuser {
    width: 299px;
    height: 48px;
    background: url(./image/loginuser.png) no-repeat;
    border: none;
    line-height: 48px;
    padding-left: 44px;
    font-size: 14px;
    
    box-sizing: content-box;
}



.loginpwd {
    width: 299px;
    height: 48px;
    background: url(./image/loginpassword.png) no-repeat;
    border: none;
    line-height: 48px;
    padding-left: 44px;
    font-size: 14px;
    color: #90a2bc;
    box-sizing: content-box;



}

.loginbtn {
    width: 111px;
    height: 35px;
    background: url(./image/buttonbg.png) repeat-x;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    line-height: 35px;
    margin-left: 110px;
}

.loginbm {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: url(./image/loginbg2.png) repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
}

    .loginbm a {
        font-weight: bold;
        color: #0b3a58;
    }

        .loginbm a:hover {
            color: #fff;
        }

