/**
create by wangzhiyong 
date:2021-04-20
desc 引入输入框的样式即可
*/
/*
label
*/

.wasabi-label {
    padding-right: 5px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    white-space: normal;
    color: #606266;
  }
  
  .wasabi-label.readOnly {
    color: #c0c4cc;
  }
  
  .wasabi-form-group .wasabi-label.required label:before {
    content: "*";
    color: #f56c6c;
    vertical-align: middle;
    font-size: 14px;
  }
  
