.wasabi-system .header{
   background-color: #2977c7;
   height: 100%;
}
.wasabi-system .header .system{
   height: 100%;
   float: left;
}

.wasabi-system .system .logo {
   height:20px;
   width:20px;
   margin-left:10px;
   margin-top:12px;
   float: left;
}
.system .title{
   margin-left: 5px;
   color: #fff;
   font-size: 16px;
   line-height: 44px;
   height: 44px;
   float: left;
}
.wasabi-system .header .nav{
float:right;
height: 100%;
}
.wasabi-system .header .nav ul{
   list-style-type: none;
   height: 100%;
  
}
.wasabi-system .header .nav ul li{
   display: inline-block;
   line-height: 3.333;
   height: 100%;
    text-align: center;
    position: relative;
    padding :0px 10px;
    color: #fff;
    cursor: pointer;
    
}
.wasabi-system .header .nav ul li:hover
{
   background-color: rgba(255,255,255,0.2)
}
.wasabi-system .header .nav li.active{
   background-color: #66b1ff;
}

.wasabi-system .header .user{
   float: right;
   height: 100%;
   margin-right: 30px;
   position: relative;
}

.wasabi-system .user .userheader {
   height: 25px;
   width: 25px;
   margin-left:10px;
   margin-top:8px;
}
.wasabi-system .user .title{
   margin-left: 5px;
   color: #fff;
   font-size: 14px;
   line-height: 44px;

   float: right;
}
.wasabi-system .user .user-menus{
   
   position: absolute;
   top: 44px;
   right: -20px;
   min-width: 100%;
   line-height: 36px;
   padding: 5px 0;
   box-shadow: 0 2px 4px rgba(0,0,0,.12);
   border: 1px solid #d2d2d2;
   background-color: #fff;
   z-index: 100;
   border-radius: 2px;
   white-space: nowrap;
}
.wasabi-system .user .user-menus.show{
   display: block;
}

.wasabi-system .user .user-menus.hide{
   display: none;
}
.wasabi-system .user .user-menu:hover{
   background-color: #409eff;
   color: #fff;
}
.wasabi-system .user .user-menu{
   color:#333;
   padding: 0 20px;
   cursor: pointer;
}
.wasabi-system .menuicon{
   display: inline-block!important;
   padding:0px!important;
   position: relative;
}
.wasabi-system .menuicon::before{
   left: -20px;
    top: 1px;
position: absolute;
}

