/*
按钮样式
*/

.wasabi-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    font-size: var(--font-size);
    color: var(--color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0 15px;
    border-radius: var(--border-radius);
    position: relative;
    color: var(--color);
}

.wasabi-button+.wasabi-button {
    margin-left: var(--button-left);
}

.wasabi-button.size-large {
    padding: 0 19px;
    height: 36px;
}

.wasabi-button.size-default {
    padding: 0 15px;
    height: 32px;
}

.wasabi-button.size-small {
    padding: 0 15px;
    height: 28px;
}

.wasabi-button.size-mini {
    padding: 0 11px;
    font-size: 12px;
    height: 24px;
}

.wasabi-button.default,
.wasabi-button.cancel {
    background: #fff;
    border: 1px solid var(--border-color);
    color: var(--color);
}

.wasabi-button.primary {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid transparent;
}

.wasabi-button.primary:hover {
    background-color: var(--primary-hover-color);
}

.wasabi-button.success {
    color: #fff;
    background-color: var(--success-color);
    border: 1px solid transparent;
}

.wasabi-button.success:hover {
    background-color: var(--success-hover-color);
}

.wasabi-button.info {
    color:var(--color);
    background-color: var(--info-color);
    border: 1px solid var(--border-color);
}

.wasabi-button.info:hover {
    background-color: var(--info-hover-color);
}

.wasabi-button.warning {
    color: #fff;
    background-color: var(--warning-color);
    border: 1px solid transparent;
}

.wasabi-button.warning:hover {
    background-color: var(--warning-hover-color);
}

.wasabi-button.danger {
    color: #fff;
    background-color: var(--danger-color);
    border: 1px solid transparent;
}

.wasabi-button.danger:hover {
    background-color: var(--danger-hover-color);
}

.wasabi-button[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
}