/*
按钮样式
*/

@import url("../../Sass/base.css");
.wasabi-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid var(--border-color);
  font-size: 14px;
  color: var(--color);
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  position: relative;

}

.wasabi-button+.wasabi-button {
  margin-left: 10px;
}

.wasabi-button.size-large .wasabi-button-icon {
  transform: translateY(2px);
}

.wasabi-button.size-default .wasabi-button-icon {
  transform: translateY(2px);
}

.wasabi-button.size-large {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.wasabi-button.size-default {
  padding: 12px 20px;
  font-size: 14px;

}

.wasabi-button.size-small {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;

}

.wasabi-button.size-mini {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;

}

.wasabi-button.default {
  background: #fff;
  border: 1px solid var(--border-color);
  color: var(--color);
}

.wasabi-button.primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.wasabi-button.success {
  color: #fff;
  background-color: var( --success-color);
  border-color: var( --success-color);
}


.wasabi-button.info, .wasabi-button.cancel {
  color: #fff;
  background-color: var(--info-color);
  border-color: var(--info-color);
}


.wasabi-button.warning {
  color: #fff;
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}


.wasabi-button.danger {
  color: #fff;
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}



.wasabi-button[disabled] {
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
}
