/*create by wangzhiyonglyk
date:2016-03-02
desc:小图标按钮样式
*/

.wasabi-linkbutton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    font-size: var(--font-size);
    color: var(--color);
    position: relative;
}
.wasabi-linkbutton.onlyicon {
    border: none;
    text-decoration: none;
}

.wasabi-linkbutton + .wasabi-linkbutton {
    margin-left: var(--button-left);
}
.wasabi-linkbutton [class*=" icon-"] {
    font-size: inherit;
}

.wasabi-linkbutton.default {
    color: var(--color);
}


.wasabi-linkbutton.default:hover {
    color: var(--primary-color);
}

.wasabi-linkbutton.primary {
    color: var(--primary-color);
}


.wasabi-linkbutton.primary:hover {
    color: var(--primary-hover-color);
}

.wasabi-linkbutton.success {
    color: var(--success-color);
}

.wasabi-linkbutton.success:hover {
    color: var(--success-hover-color);
}

.wasabi-linkbutton.info{
    color: var(--info-color);
}


.wasabi-linkbutton.info:hover {
    color: var(--info-hover-color);
}

.wasabi-linkbutton.warning {
    color: var(--warning-color);
}


.wasabi-linkbutton.warning:hover {
    color: var(--warning-hover-color);
}

.wasabi-linkbutton.danger {
    color: var(--danger-color);
}


.wasabi-linkbutton.danger:hover {
    color: var(--danger-hover-color);
}
.wasabi-linkbutton.cancel,.wasabi-linkbutton.default {
    color: var(--color);
}


.wasabi-linkbutton i.left {
    display: inline-block;
    margin-right: 3px;
    transform: translateY(1px);
}
.wasabi-linkbutton.onlyicon i.left {
    margin-right: 0px;
}

.wasabi-linkbutton i.right {
    display: inline-block;
    margin-left: 3px;
    transform: translateY(1px);
}

.wasabi-linkbutton.onlyicon i.right {
    margin-left: 0px;
}
.wasabi-linkbutton i.rightTop {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -10px;
}

.wasabi-linkbutton[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
    box-shadow: none;
}
