/*create by wangzhiyonglyk
/* 借用了bootstrap一些样式调整,
date:2016-03-02 
edit by wangzhyonglyk 扩展一些基本属性
desc:基本样式
date:2017-07-28 独立出来，对整体样式风格修改 
date:2021-02-06 重新调整
 date: 2021-05-15 去掉控制字体大小，颜色等属性，以方便与其他ui库兼容
 date:2021-05-20 增加变量
 date:2021-06-22 拆分样式，取reboot
 date:2023-09-27 重新定义事件样式变量
*/

@import url("./reboot.css");
@import url("./grid.css");
@import url("./animation.css");
@import url("./font/iconfont.css");
:root {
    /* 默认字体大小 */
    --font-size: 14px;
    /* 默认图标大小 */
    --icon-size: 14px;
    /* 标题类默认字体大小 */
    --title-size: 14px;
    /* 表单默认高度 */
    --input-height: 32px;
    /* 表格 行默认高度 */
    --table-height: 32px;
    /* 树 行默认高度 */
    --tree-height: 32px;
    /* 同类组件左间距 */
    --margin-left: 12px;
    /* 同类组件下间距 */
    --margin-bottom: 20px;
    /**按钮类组件左间距**/
    --button-left:12px;
    /* 模态窗口内边距 */
    --modal-padding:12px;
    /* 按钮高度 */
    /* 大 */
    --large-btn-height: 40px;
    /* 默认 */
    --default-btn-height: 32px;
    /* 小 */
    --small-btn-height: 24px;
    /* mini */
    --mini-btn-height: 20px;
    /* 默认圆角度 */
    --border-radius: 4px;
    /*  默认字体颜色 */
    --color: #000000e6;
    /* 图标颜色 */
    --icon-color: #000000cc;
    /* 鼠标放上 图标颜色  */
    --icon-hover-color: #C3002F;
    /* 焦点颜色 */
    --focus-color: #C3002F;
    /* 主题颜色 */
    --primary-color: #C3002F;
    /* 鼠标放上 主题颜色 */
    --primary-hover-color: #c3002fcc;

      /* 主题浅颜色 */
    --primary-shallow-color:#FDECE9;
    /* 成功颜色 */
    --success-color: #64BB5C;
    /*  鼠标放上 成功颜色 */
    --success-hover-color: #64BB5Ccc;
 /* 成功浅颜色 */
    --success-shallow-color:#F0F8EF;
    /* 普通消息颜色 */
    --info-color: #c7c7c7;
    /* 鼠标放上 普通消息颜色 */
    --info-hover-color: #c7c7c7cc;
 /* 普通消息浅颜色 */
    --info-shallow-color: #e3e3e3;
    /* 危险颜色 */
    --danger-color: #E84026;
    /*  鼠标放上 危险颜色 */
    --danger-hover-color: #E84026cc;
     /*  危险浅颜色 */
     --danger-shallow-color: #FDECE9;
    /* 警告颜色 */
    --warning-color: #EFAF41;
    /*  鼠标放上 警告颜色 */
    --warning-hover-color: #EFAF41cc;
        /* 警告浅颜色 */
    --warning-shallow-color: #FDF7EC;
    /* 边框颜色 */
    --border-color: #E5E5E5;
    /*  鼠标放上 边框颜色 */
    --border-hover-color: #c0c4cc;
    /* 默认背景颜色 */
    --background-color: #f7f8fa;
    /* 鼠标放上 默认背景颜色 */
    --background-hover-color: #f1f2f5;
    /* 标题背景颜色 */
    --title-background-color: #f2f3f5;
    --table-hover-color:#fdebee;
    --table-focus-color:#f7cdd4;
    --table-background-color:#F7F7F7;
    /* 整体页面背景颜色 */
    --body-background-color: white;
    /* 阴影 */
    --box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /*文本框中图标top位置*/
    --position-top: 12px;
}

:root.my-red {
    /* 主题颜色 */
    --primary-color: #C3002F;
    /* 鼠标放上 主题颜色 */
    --primary-hover-color: #990126;
    /* 成功颜色 */
    --success-color: #64BB5C;
    /* 普通消息颜色 */
    --info-color: #909399;
    /* 危险颜色 */
    --danger-color: #E84026;
    /* 警告颜色 */
    --warning-color: #EFAF41;
}