<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Tutorial Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        /* 提示框的样式 */
        .g6-tooltip {
            border: 1px solid #e2e2e2;
            border-radius: 4px;
            font-size: 12px;
            color: #545454;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px 8px;
            box-shadow: rgb(174, 174, 174) 0px 0px 10px;
        }
    </style>
</head>

<body>
    <div id="mountNode"></div>
    <div id="app">
        <App :initData="groceryList"></App>
        </div>
        <script>
        
          let todo=  Vue.component('todo-item', {
                // todo-item 组件现在接受一个
                // "prop"，类似于一个自定义 attribute。
                // 这个 prop 名为 todo。
                props: ['todo'],
                template: '<div>test</div>'
            })
            let App=  Vue.component('app1', {
                // todo-item 组件现在接受一个
                // "prop"，类似于一个自定义 attribute。
                // 这个 prop 名为 todo。
                components:{todo},
                props: ['initData'],
                template: ` <div>dsfdsfdsfds<todo></todo> </div>`
            })
           
            var app = new Vue({
                el: '#app',
                components:{App},
                data: {
                    message: '页面加载于 ' + new Date().toLocaleString(),
                    groceryList: [
                        { id: 0, text: '蔬菜' },
                        { id: 1, text: '奶酪' },
                        { id: 2, text: '随便其它什么人吃的东西' }
                    ]
                }
            })
        </script>
        <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
        <script>
            return;
            const minimap = new G6.Minimap({
                size: [100, 100],
                className: 'minimap',
                type: 'delegate',
            });
            const graph = new G6.Graph({
                container: 'mountNode',
                width: 800,
                height: 600,
                // 节点默认配置
                defaultNode: {
                    labelCfg: {
                        style: {
                            fill: '#fff',
                        },
                    },
                },
                // 边默认配置
                defaultEdge: {
                    labelCfg: {
                        autoRotate: true,
                    },
                },
                // 节点在各状态下的样式
                nodeStateStyles: {
                    // hover 状态为 true 时的样式
                    hover: {
                        fill: 'red',
                    },
                    // click 状态为 true 时的样式
                    click: {
                        stroke: 'blue',
                        lineWidth: 3,
                    },
                },
                // 边在各状态下的样式
                edgeStateStyles: {
                    // click 状态为 true 时的样式
                    click: {
                        stroke: 'green',
                    },
                },
                // 布局
                layout: {
                    type: 'force',
                    linkDistance: 100,
                    preventOverlap: true,
                    nodeStrength: -30,
                    edgeStrength: 0.1,
                },
                // 内置交互
                modes: {
                    default: ['drag-canvas', 'zoom-canvas', 'drag-node', {
                        type: 'tooltip', // 提示框
                        formatText(model) {
                            // 提示框文本内容
                            const text = 'label: ' + model.label + '<br/> class: ' + model.class;
                            return text;
                        },
                    },],

                },
                plugins: [minimap], // 将 minimap 实例配置到图上
            });

            const main = async () => {
                const response = await fetch(
                    'https://gw.alipayobjects.com/os/basement_prod/6cae02ab-4c29-44b2-b1fd-4005688febcb.json',
                );
                const remoteData = await response.json();

                const nodes = remoteData.nodes;
                const edges = remoteData.edges;
                nodes.forEach((node) => {
                    if (!node.style) {
                        node.style = {};
                    }
                    node.style.lineWidth = 1;
                    node.style.stroke = '#666';
                    node.style.fill = 'steelblue';
                    switch (node.class) {
                        case 'c0': {
                            node.type = 'circle';
                            node.size = 30;
                            break;
                        }
                        case 'c1': {
                            node.type = 'rect';
                            node.size = [35, 20];
                            break;
                        }
                        case 'c2': {
                            node.type = 'ellipse';
                            node.size = [35, 20];
                            break;
                        }
                    }
                });
                edges.forEach((edge) => {
                    if (!edge.style) {
                        edge.style = {};
                    }
                    edge.style.lineWidth = edge.weight;
                    edge.style.opacity = 0.6;
                    edge.style.stroke = 'grey';
                });

                graph.data(remoteData);
                graph.render();

                // 监听鼠标进入节点
                graph.on('node:mouseenter', (e) => {
                    const nodeItem = e.item;
                    // 设置目标节点的 hover 状态 为 true
                    graph.setItemState(nodeItem, 'hover', true);
                });
                // 监听鼠标离开节点
                graph.on('node:mouseleave', (e) => {
                    const nodeItem = e.item;
                    // 设置目标节点的 hover 状态 false
                    graph.setItemState(nodeItem, 'hover', false);
                });
                // 监听鼠标点击节点
                graph.on('node:click', (e) => {
                    // 先将所有当前有 click 状态的节点的 click 状态置为 false
                    const clickNodes = graph.findAllByState('node', 'click');
                    clickNodes.forEach((cn) => {
                        graph.setItemState(cn, 'click', false);
                    });
                    const nodeItem = e.item;
                    // 设置目标节点的 click 状态 为 true
                    graph.setItemState(nodeItem, 'click', true);
                });
                // 监听鼠标点击节点
                graph.on('edge:click', (e) => {
                    // 先将所有当前有 click 状态的边的 click 状态置为 false
                    const clickEdges = graph.findAllByState('edge', 'click');
                    clickEdges.forEach((ce) => {
                        graph.setItemState(ce, 'click', false);
                    });
                    const edgeItem = e.item;
                    // 设置目标边的 click 状态 为 true
                    graph.setItemState(edgeItem, 'click', true);
                });
            };
            main();
        </script>
        <script>
            var fragment_1 = document.createDocumentFragment();
            fragment_1.innerHTML = '<p>我是一个粉刷匠</p>';
            document.body.appendChild(fragment_1);
            var fragment_2 = document.createElement('p');
            fragment_2.innerHTML = '粉刷本领强';
            document.body.appendChild(fragment_2);
        </script>

        <script>
            class SandboxWindow {
                constructor(options, context, frameWindow) {
                    return new Proxy(frameWindow, {
                        set(target, name, value) {
                            if (Object.keys(context).includes(name)) {
                                context[name] = value;
                            }
                            target[name] = value;
                        },
                        get(target, name) {
                            // 优先使用共享对象
                            if (Object.keys(context).includes(name)) {
                                return context[name];
                            }
                            if (typeof target[name] === 'function' && /^[a-z]/.test(name)) {
                                return target[name].bind && target[name].bind(target);
                            } else {
                                return target[name];
                            }
                        }
                    })
                }
                //  ...
            }

            const iframe = document.createElement('iframe', { url: 'about:blank' });
            document.body.appendChild(iframe);
            const sandboxGlobal = iframe.contentWindow;
            console.log(sandboxGlobal.document);
            let obj = { ...window.location }
            // 需要全局共享的变量
            const context = { document: window.document, history: window.histroy }
            const newSandBoxWindow = new SandboxWindow({}, context, sandboxGlobal)
                // newSandBoxWindow.history 全局对象
                // newSandBoxWindow.abc 为 'abc' 沙箱环境全局变量
                // window.abc 为 undefined
                (function (window) {
                    obj.ol
                })(...newSandBoxWindow)
        </script>
</body>

</html>