.title{
    text-align:center;
    padding: 20px;
    font-size: 30px;
    border-bottom:1px solid #ddd;
}
.btn-group{
    text-align:right;
    padding:20px;
}
.image{
    width:50px;
    height:50px;
}