
.wasabi-message
{
  display: inline-block;
  width: auto;
  max-width:500px;
  min-width: 80px;
  min-height: 30px;
  line-height: 30px;
 padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: visible;
  padding-left: 60px;
  padding-right: 20px;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 10;
  white-space: pre-wrap;
  -webkit-transition: opacity 2s;
  transition:opacity 2s;
}
.wasabi-Msg.success
{
  background-color: #25d7b9;
}
.wasabi-Msg.error
{
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  background-color: #ff404c;
}
.wasabi-Msg.info
{
  background-color: #f58030;
}


.wasabi-message .notice
{
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  position: relative;
  bottom: 1px;

}
.wasabi-message .notice:before
{
  content: "111111";
  color: transparent;
  width: 32px;
  display: inline-block;
  height: 32px;
  background-size: 32px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: -40px;

}
.wasabi-Msg.success .notice:before
{
  background-image: url("../../img/icons/message_success.png");
}
.wasabi-Msg.error .notice:before
{
  background-image: url("../../img/icons/message_error.png");
}
.wasabi-Msg.info .notice:before
{
  background-image: url("../../img/icons/message_info.png");
}

.wasabi-confirm {
  width: 422px;
  height: 140px;
  box-shadow:  0px 3px 40px 0px rgba(0,0,0,0.4);
  background-color: #FCFCFC;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 999999;

}
.wasabi-confirm .message {
  height: 50px;
  padding-left: 110px;
  padding-top: 10px;
  padding-right: 10px;
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  font-size: 18px;
  color: #666666;
  text-align: center;
  font-weight: normal;
}
.wasabi-confirm .message:before
{
  content: "111111";
  color: transparent;
  width: 54px;
  display: inline-block;
  height: 48px;
  background-size: 54px 48px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 30px;
  background-image: url("../../img/icons/message_confirm.png");
}
.wasabi-confirm .buttons
{
  height: 28px;
  display: block;
  bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: right;
}

.wasabi-loading {
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.1;
  z-index: 99;

}


.wasabi-load-icon
{

  position: absolute;
  left: 50%;
  top:20%;
  background-image: url("../../img/loading.gif");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  width:16px;
  height: 16px;
  z-index: 99;
}