/*create by wangzy
date:2017-01-09
desc:圣杯布局样式
*/
@import url("../base.css");
.wasabi-layout {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	min-height: 500px;
	overflow: hidden;
	height: 100%;
}

.wasabi-layout .layout-panel {
	min-width: 1px;
	min-height: 1px;
	position: absolute;
	box-sizing: border-box;
	
}

.wasabi-layout .wasabi-layout-header {
	height: 100px;
	width: 100%;
	top: 0
}

.wasabi-layout .wasabi-layout-footer {
	height: 100px;
	width: 100%;
	bottom: 0;
}

.wasabi-layout .wasabi-layout-left {
	left: 0;
	height: 100%;
	border-top:0;
	border-bottom: 0;
	overflow-x: hidden;
	
}

.wasabi-layout .wasabi-layout-right {
	right: 0;
	height: 100%;
	border-top:0;
	border-bottom: 0;
}
.wasabi-layout .wasabi-layout-center{
	border:none;
	height: 100%;

}
