/*
create by wangzy
date:2016-05-18
desc:面板组件样式
*/
@import url("../base.css");
.wasabi-panel{
  margin: 0px;
  margin-bottom: 10px;
  box-shadow:none;
  
  border-radius: 4px;
  -webkit-transition: height 1s;
  transition:height 1s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.wasabi-panel .panel-heading
{
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
.panel-default>.panel-heading {
  color: #666666;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.panel-success>.panel-heading {
  color: #fff;
  background-color: #1ab394;
  border-color: #1ab394;
}
.panel-info>.panel-heading {
  color: #fff;
  background-color: #23c6c8;
  border-color: #23c6c8;
}
.panel-warning>.panel-heading{
  color: #fff;
  background-color: #f8ac59;
  border-color: #f8ac59;
}

.panel-danger>.panel-heading{
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}

.wasabi-panel .panel-buttons
{
  position: absolute;
  right: 30px;
  bottom: -6px;
}

.wasabi-panel .panel-icon
{
  position:absolute;
  right:10px;
  bottom: 8px;
  width:40px;
  height:20px;
text-align: right;
  color: #666666;
}
.panel-icon i{
  color: #666666;
}
.panel-icon i:hover
{
  color: #333333;
}
.wasabi-panel .panel-body
{
  
  height:calc(100% - 41px);
  padding:0px;
  padding-bottom: 10px;
  text-align: left;
  margin: 0;
  border: 0;
  overflow: auto;
 
}

