/*
create by wangzhiyong
date:2016-05-18
desc:面板组件样式
*/
.wasabi-panel{
  margin: 0px;
  margin-bottom: 10px;
  box-shadow:none;
  
  border-radius: 4px;
  -webkit-transition: height 1s;
  transition:height 1s;
  box-shadow:0 2px 12px 0 rgba(0,0,0,.1);
  border: 1px solid #ebeef5;
}

.wasabi-panel .panel-header
{
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ebeef5;
  
}
.wasabi-panel .panel-header [class^="icon-"],.wasabi-panel .panel-header [class*=" icon-"]{
  margin-right: 5px;
}
.panel-default>.panel-header {
  background: #fff;
  border-bottom: 1px solid #dcdfe6;
  color: #606266;
}
.panel-primary>.panel-header {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.panel-success>.panel-header {
  color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}
.panel-info>.panel-header {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.panel-warning>.panel-header{
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}

.panel-danger>.panel-header{
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}

.wasabi-panel .panel-buttons
{
  position: absolute;
  right: 30px;
  bottom: -6px;
}

.wasabi-panel .panel-icon
{
  position:absolute;
  right:10px;
  bottom: 8px;
  width:40px;
  height:20px;
text-align: right;
  color: #606266;
}
.panel-icon i{
  color: #606266;
}
.panel-icon i:hover
{
  color: #333333;
}
.wasabi-panel .panel-body
{
  
  height:calc(100% - 40px);
  padding-top:10px;
  padding-bottom: 10px;
  text-align: left;
  margin: 0;
  border: 0;

}

