/*
滑动面板样式
create by wangzhiyong
date:2016-07-05
*/
@import url("../base.css");
.wasabi-slidepanel
{
position: fixed;
  height:100%;
  left:0px;
  top:0px;
  z-index: 2;
}
.wasabi-slidepanel .slide-overlay
{
  position: absolute;
  height: 100%;
  width:100%;
  background-color: #000000;
  opacity: 0.5;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;

}
.wasabi-slidepanel .slide-container
{
 position:absolute;
  right: 0px;
  height:100%;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  background-color: #ffffff;
  overflow: hidden;
}

.wasabi-slidepanel .slide-container  .slide-header {
  width: 100%;
  padding-top: 5px;
  height: 40px;
  position: relative;
  z-index: 2;
}
.wasabi-slidepanel .slide-container .slide-header .title {
  position: absolute;
  left: 0px;
  background-color: #0d4043;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  min-width: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.wasabi-slidepanel .slide-container  .slide-header .title:after
{
  content: "11111";
  color: transparent;
  width: 15px;
  height: 30px;
  right: -15px;
  position: absolute;
background-image: url("../../img/slidetitle.png");
  background-repeat: no-repeat;
  background-size: 15px 30px;

}

.wasabi-slidepanel .slide-container .slide-header .slide-toolbar{
  float: right;
 margin-right: 60px;
}

.wasabi-slidepanel .slide-container .slide-body
{
  padding:10px;
  width: 100%;
  height: calc(100% - 40px);
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid #ccc;
}

