/*create by wangzy
date:2016-02-24
desc:表单样式
*/
@import url("../base.css");
.wasabi-form
{
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    width:100%;
    display: block;
   


}

.wasabi-form .form-body{
    width:100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.wasabi-form .form-body[cols="1"] .wasabi-form-group{
    width: 100%;
}
.wasabi-form .form-body[cols="2"] .wasabi-form-group{
    width: 50%;
}
.wasabi-form .form-body[cols="3"] .wasabi-form-group{
    width: 33.33%;
}
.wasabi-form .form-body[cols="4"] .wasabi-form-group{
    width: 25%;
}
.wasabi-form .form-body[cols="5"] .wasabi-form-group{
    width: 20%;
}

.wasabi-form .form-submit
{
    display: block;
    text-align: center;
    width:100%;
    margin-top: 20px;
    height:30px;



}



