<!DOCTYPE html>
<html>
  <head>
    <title>testD3_chp10_1.html</title>
    
    <script type="text/javascript" src="http://d3js.org/d3.v5.min.js">
	</script>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <div id="box1" style="border:1px solid red; width:200px;height:200px;" onmouseover="console.log(1)" onmouseout="console.log(2)">
		<div id="sm_box1" style="width:100px;height:100px;border:1px solid blue;" ></div>
	</div>
	<script>

	</script>
  </body>
</html>