<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            width:100px;
        }
    </style>
</head>
<body>
    <table border="1">
        <tbody>
            <tr>
                <td>1-1</td>
                <td>1-2</td>
                <td>1-3</td>
                <td>1-4</td>
                <td>1-5</td>
                <td>1-6</td>
            </tr>
            <tr>
                <td>2-1</td>
                <td rowspan="2" colspan="2">2-2</td>
                <!-- <td>2-3</td> -->
                <td>2-4</td>
                <td>2-5</td>
                <td>2-6</td>
            </tr>
            <tr>
                <td>1-1</td>
                <!-- <td>1-2</td>
                <td>1-3</td> -->
                <td>1-4</td>
                <td>1-5</td>
                <td>1-6</td>
            </tr>
            <tr>
                <td>1-1</td>
                <td>1-2</td>
                <td>1-3</td>
                <td>1-4</td>
                <td>1-5</td>
                <td>1-6</td>
            </tr>
            <tr>
                <td>1-1</td>
                <td>1-2</td>
                <td>1-3</td>
                <td>1-4</td>
                <td>1-5</td>
                <td>1-6</td>
            </tr>
            <tr>
                <td>1-1</td>
                <td>1-2</td>
                <td>1-3</td>
                <td>1-4</td>
                <td>1-5</td>
                <td>1-6</td>
            </tr>
        </tbody>
    </table>
</body>
</html>