<!DOCTYPE html>
<html>

<head>
  <title>testD3_chp10_1.html</title>

  <script type="text/javascript" src="http://d3js.org/d3.v5.min.js">
  </script>

  <meta name="keywords" content="keyword1,keyword2,keyword3">
  <meta name="description" content="this is my page">
  <meta name="content-type" content="text/html; charset=UTF-8">

  <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>
  <input onchange="console.log(1)">

  <script>
 const isValid=str=>{
   let stack=[];
   let obj={
     "{":"}",
     "[":"]",
     "(":")"
   }
   for(let i=0;i<str.length;i++){
     if(str[i]==="{"||str[i]==="["||str[i]==="("){
       stack.push(str[i]);
     }else{
       let key=stack.pop();
       if(obj[key]!==str[i]){
         return false;
       }
     }
   }
   if(!stack.length){
     return true;
   }
   return false;
 }
 console.log( isValid("{()}"));

 function count(str) {
let result={};
    let arr=str.split("");
    for(let i=0;i<arr.length;i++){
        if(result[arr[i]]!==undefined){
            result[arr[i]]+=1;
        }
        else{
             result[arr[i]]=1;
        }
    }
    return result;
}
  </script>
</body>

</html>