/*create by wangzhiyonglyk
//date:2016-05-10
desc:搜索栏的样式
*/

.wasabi-searchbar {
  margin: 0px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wasabi-searchbar[cols="1"] > .wasabi-form-group {
  width: 100%;
}
.wasabi-searchbar[cols="2"] > .wasabi-form-group {
  width: 50%;
}
.wasabi-searchbar[cols="3"] > .wasabi-form-group {
  width: 33.3%;
}
.wasabi-searchbar[cols="4"] > .wasabi-form-group {
  width: 25%;
}
.wasabi-searchbar[cols="5"] > .wasabi-form-group {
  width: 20%;
}
.wasabi-searchbar[cols="1"] > .wasabi-cols {
  width: 100%;
}
.wasabi-searchbar[cols="2"] > .wasabi-cols {
  width: 50%;
}
.wasabi-searchbar[cols="3"] > .wasabi-cols {
  width: 33.3%;
}
.wasabi-searchbar [cols="4"] > .wasabi-cols {
  width: 25%;
}
.wasabi-searchbar[cols="5"] > .wasabi-cols {
  width: 20%;
}

.wasabi-searchbar .wasabi-searchbar-blank {
  min-width: 300px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
}
.wasabi-searchbar .wasabi-searchbar-blank.link {
  min-width: 220px;
}
.wasabi-searchbar .wasabi-searchbar-btns {
  min-width: 300px;
  height: 40px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  right: 0px;
  bottom: 0px;
  padding-right: 10px;
  background-color: white;
  z-index: 1;
}
.wasabi-searchbar .wasabi-searchbar-btns.link {
  min-width: 220px;
}

.wasabi-searchbar[cols="1"] .wasabi-searchbar-blank,
.wasabi-searchbar[cols="1"] .wasabi-searchbar-btns {
  width: 100%;
}
.wasabi-searchbar[cols="2"] .wasabi-searchbar-blank,
.wasabi-searchbar[cols="2"] .wasabi-searchbar-btns {
  width: 50%;
}
.wasabi-searchbar[cols="3"] .wasabi-searchbar-blank,
.wasabi-searchbar[cols="3"] .wasabi-searchbar-btns {
  width: 33.3%;
}
.wasabi-searchbar[cols="4"] .wasabi-searchbar-blank,
.wasabi-searchbar[cols="4"] .wasabi-searchbar-btns {
  width: 25%;
}
.wasabi-searchbar[cols="5"] .wasabi-searchbar-blank,
.wasabi-searchbar[cols="5"] .wasabi-searchbar-btns {
  width: 20%;
}
