.wasabi-slider {
  overflow: hidden;
  position: relative;
  --scrollState: paused;
}
.wasabi-slider-ul {
  animation: var(--scrollAnimation) calc(var(--scrollSpeed) * var(--scrollNum))
    steps(var(--scrollNum)) infinite;
  animation-play-state: var(--scrollState);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.wasabi-slider-ul.row {
  flex-direction: row;
}
.wasabi-slider-ul.column {
  flex-direction: column;
}
.wasabi-slider-ul > * {
  animation: var(--scrollItemAnimation) var(--scrollSpeed) infinite;
  animation-play-state: var(--scrollState);
  flex-grow: 1;
}
.wasabi-slider-dot-div {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2px;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}
.wasabi-slider-dot {
  height: 2px;
  width: 4px;
  background: white;
  margin-left: 2px;
}
.wasabi-slider-dot.chosed {
  width: 8px;
  background: #ffce00;
}
/*****左*****/
/*
  逐帧动画
  */
@keyframes slidermoveleft {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(
      calc(var(--scrollNum) * var(--scrollItemStep) * -1px),
      0
    );
  }
}

/**补间动画**/
@keyframes slideritemmoveleft {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(var(--scrollItemStep) * -1px), 0);
  }
}

/*****右*****/
/*
  逐帧动画
  */
@keyframes slidermoveright {
  0% {
    transform: translate(
      calc(var(--scrollNum) * var(--scrollItemStep) * -1px),
      0
    );
  }
  100% {
    transform: translate(0, 0);
  }
}

/**补间动画**/
@keyframes slideritemmoveright {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(var(--scrollItemStep) * 1px), 0);
  }
}

/*****上****/

/*
  逐帧动画
  */
@keyframes slidermovetop {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(
      0,
      calc(var(--scrollNum) * var(--scrollItemStep) * -1px)
    );
  }
}
/**补间动画**/
@keyframes slideritemmovetop {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, calc(var(--scrollItemStep) * -1px));
  }
}

/*****下****/

/*
  逐帧动画
  */
@keyframes slidermovebottom {
  0% {
    transform: translate(
      0,
      calc(var(--scrollNum) * var(--scrollItemStep) * -1px)
    );
  }
  100% {
    transform: translate(0, 0);
  }
}
/**补间动画**/
@keyframes slideritemmovetop {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, calc(var(--scrollItemStep) * 1px));
  }
}
