/*create by wangzhiyonglyk
date:2016-02-24
desc:表单样式
*/

.wasabi-form {
    position: relative;
    margin: 0px;
    width: 100%;
    display: flex;
    font-size: var(--font-size);
    color: var(--color);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wasabi-form.left .wasabi-form-group {
    flex-direction: row;
    justify-content: flex-start;
}

.wasabi-form.top .wasabi-form-group {
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-end;
}

.wasabi-form.top .wasabi-label {
    height: 30px;
    line-height: 30px;
}

.wasabi-form .form-body {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.wasabi-form .form-body[cols="1"] > .wasabi-form-group {
    width: calc(100% - 5px);
}

.wasabi-form .form-body[cols="2"] > .wasabi-form-group {
    width: calc(50% - 5px);
}

.wasabi-form .form-body[cols="3"] > .wasabi-form-group {
    width: calc(33% - 5px);
}

.wasabi-form .form-body[cols="4"] > .wasabi-form-group {
    width: calc(25% - 5px);
}

.wasabi-form .form-body[cols="5"] > .wasabi-form-group {
    width: calc(20% - 5px);
}

/**
控制col组件的布局
*/
.wasabi-form .form-body[cols="1"] > .wasabi-cols {
    width: calc(100% - 5px);
}

.wasabi-form .form-body[cols="2"] > .wasabi-cols {
    width: calc(50% - 5px);
}

.wasabi-form .form-body[cols="3"] > .wasabi-cols {
    width: calc(33% - 5px);
}

.wasabi-form .form-body[cols="4"] > .wasabi-cols {
    width: calc(25% - 5px);
}

.wasabi-form .form-body[cols="5"] > .wasabi-cols {
    width: calc(20% - 5px);
}

.wasabi-form .form-submit {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    height: 30px;
}
